.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 60px auto;
  overflow: hidden;
  align-items: center;
  box-shadow: 0px 5px 6px 1px;
  background: rgba(253, 247, 247, 0.822);
  padding: 10px;
}

@media (max-width: 700px) {
  #projects {
    width: 100%;
  }

  .projects-container {
    width: 100%;
  }
}
