.App {
  text-align: center;
  background-color: rgba(101, 102, 103, 0.167);
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.picture {
  width: 80%;
  margin: auto;
}

img {
  width: 80%;
  border-radius: 15px;
}
