.App {
  text-align: center;
  background-color: rgba(206, 198, 198, 0.356);
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.picture {
  width: 50%;
  margin: auto;
}

img {
  width: 80%;
  border-radius: 15px;
}
